<nav class="navbar navbar-default" role="navigation" >
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="Home.html" class="w3-bar-item"><img style="width:40px;height:40px" src="..\Images\BKEdu_logo.png" alt="BKEduLogo"></a>
  <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">HOME</a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">CATEGORIES <i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">

        <% var route1 = "/login/" + "cookies"%>
        <% var route2 = "/subject"%>
      <a href=<%=route1%> class="w3-bar-item w3-button Software">Software Development</a>
      <a href=<%=route2%> class="w3-bar-item w3-button WebApp">Web Application</a>
      <a href="#" class="w3-bar-item w3-button Algorithm">Data Structure & Algorithm</a>
      <a href="#" class="w3-bar-item w3-button DataPro">Data Profession</a>
      <a href="#" class="w3-bar-item w3-button Graphics">Graphics</a>
    </div>
  </div>
  <a href="/lecturer" class="w3-bar-item w3-button w3-hide-small w3-hover-white">LECTURERS</a>

  <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-hover-white">ABOUT US</a>

  <div class="w3-bar-item search-contrainer">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">
      <i class="fa fa-search"></i>
      </button>
    </form>
  </div>

  <% if(data.token != 'j:null' && data.token != null){%>
    <div class="w3-dropdown-hover w3-hide-small" style="position:absolute; right:60px;">
          <div class="w3-col s4" style="margin-top: 5px;">
            <img src=<%=data.image%> class="w3-circle w3-margin-right" style="width:46px">
          </div>
          <button class="w3-button" title="Notifications"><%= data.name %> <i class="fa fa-caret-down"></i></button>
          <div class="w3-dropdown-content w3-card-4 w3-bar-block">

            <a href="/profile" class="w3-bar-item w3-button">My Profile</a>
            <a href="#" class="w3-bar-item w3-button">Settings</a>
            <a href="#" class="w3-bar-item w3-button">Help Center</a>
            <a href="/profile/logout" class="w3-bar-item w3-button">Log Out</a>
          </div>
        </div>
  <%}%>
  <%if(data.token == 'j:null' || data.token == null){%>
  <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal loginbut" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Log In/ Sign Up</a>
  <%}%>

  </div>
</nav>
