<nav class="navbar navbar-default" role="navigation" >
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="Home.html" class="w3-bar-item"><img style="width:40px;height:40px" src="..\Images\BKEdu_logo.png" alt="BKEduLogo"></a>
  <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">HOME</a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">COURSES <i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="/login/cookies" class="w3-bar-item w3-button Software">Software Development</a>
      <a href="/subject" class="w3-bar-item w3-button WebApp">Web Application</a>
      <a href="#" class="w3-bar-item w3-button Algorithm">Data Structure & Algorithm</a>
      <a href="#" class="w3-bar-item w3-button DataPro">Data Profession</a>
      <a href="#" class="w3-bar-item w3-button Graphics">Graphics</a>
    </div>
  </div>
  <a href="/lecturer" class="w3-bar-item w3-button w3-hide-small w3-hover-white">LECTURERS</a>
  <a href="/profile" class="w3-bar-item w3-button w3-hide-small w3-hover-white">YOUR PROFILE</a>
  <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-hover-white">ABOUT US</a>

  <div class="w3-bar-item search-contrainer">
  <form action="/action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit">
    <i class="fa fa-search"></i>
    </button>
  </form>
</div>
<a href="/login" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal loginbut" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Log In/ Sign Up</a>
</div>
</nav>
